@import 'variables';

body.games.index,
body.games.show {
  .squares {
    width: 400px;
  }

  .square {
    border: none;
    float: left;
  }

  .square-button {
    height: 100px;
    width: 100px;
  }

  .player-to-make-move {
    background: $cdblue;
  }

  .players {
    width: 250px;
  }

  .clock-gutter {
    height: 19px;
  }

  .clock {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }
}